<div class="container bg-light">
    <div class="row mt-5 mb-5 p-2">
        <div th:if="${message}" th:class="'alert alert-' + ${messageType}" role="alert">
            <h6 th:text="${message}"></h6>
        </div>
        <form id="form-my-info" class="px-4"
              th:action="${user == null} ? '/manage-add-account' : '/manage-update-account?id='+${user?.id}"
              method="post"
              enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-3 d-flex align-items-center text-center">
                    <div class="text-center">

                        <img th:src="'user/'+${user?.avatar}" class="card-img-top" style="width: 10rem;">
                        <br>
                        <hr>
                        <input th:src="${user?.avatar}" class="form-control" type="file" id="avatar" name="avatar">


                        <span class="text-danger"
                              th:if='${error?.getFieldError("avatar") != null}'
                              th:text='${error?.getFieldError("avatar")?.getDefaultMessage()}'></span>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row g-3">
                        <div class="col-md">
                            <div class="mb-1">
                                <label class="form-label">Username: </label>
                                <input th:value="${user?.username}" type="text" class="form-control" name="username"
                                       placeholder="Enter username">
                                <span class="text-danger"
                                      th:if='${error?.getFieldError("username") != null}'
                                      th:text='${error?.getFieldError("username")?.getDefaultMessage()}'></span>
                            </div>
                            <div class="mb-1">
                                <label class="form-label">Fullname: </label>
                                <input th:value="${user?.fullname}" type="text" class="form-control" name="fullName"
                                       placeholder="Enter fullname">
                                <p class="text-danger"
                                   th:if='${error?.getFieldError("fullName") != null}'
                                   th:text='${error?.getFieldError("fullName")?.getDefaultMessage()}'></p>
                            </div>
                            <div class="mb-1">
                                <label class="form-label">Phone: </label>
                                <input th:value="${user?.phone}" type="text" class="form-control" name="phone">
                                <span class="text-danger"
                                      th:if='${error?.getFieldError("phone") != null}'
                                      th:text='${error?.getFieldError("phone")?.getDefaultMessage()}'></span>
                            </div>
                            <div class="mb-1 mt-4">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked1"
                                           name="role" th:checked="${user?.role}">
                                    <label class="form-check-label" for="flexSwitchCheckChecked1">Role</label>
                                </div>

                                <br>
                                <span class="text-danger"
                                      th:if='${error?.getFieldError("role") != null}'
                                      th:text='${error?.getFieldError("role")?.getDefaultMessage()}'></span>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="mb-1">
                                <label class="form-label">Password: </label>
                                <input th:value="${user?.password}" type="password" class="form-control" name="password"
                                       placeholder="Enter password">
                                <span class="text-danger"
                                      th:if='${error?.getFieldError("password") != null}'
                                      th:text='${error?.getFieldError("password")?.getDefaultMessage()}'></span>
                            </div>
                            <div class="mb-1">
                                <label class="form-label">Email: </label>
                                <input th:value="${user?.email}" type="text" class="form-control" name="email"
                                       placeholder="Enter email">
                                <span class="text-danger"
                                      th:if='${error?.getFieldError("email") != null}'
                                      th:text='${error?.getFieldError("email")?.getDefaultMessage()}'></span>
                            </div>
                            <div class="mb-1">
                                <label class="form-label">Address: </label>
                                <input th:value="${user?.address}" type="text" class="form-control" name="address"
                                       placeholder="Enter address">
                                <span class="text-danger"
                                      th:if='${error?.getFieldError("address") != null}'
                                      th:text='${error?.getFieldError("address")?.getDefaultMessage()}'></span>
                            </div>
                            <div class="mb-1 mt-4">
                                <div class="form-check form-switch">
                                    <label th:checked="${user?.status}" class="form-check-label"
                                           for="flexSwitchCheckChecked">Status</label>
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked
                                           name="status" th:checked="${user?.status}">
                                </div>

                            </div>
                        </div>
                        <div class="mt-3">

                            <input type="submit" class="btn btn-success col-3"
                                   th:value="${user == null} ? 'Create' : 'Update'">

                            <a href="/manage-clear-form-user" class="btn btn-warning text-white col-3"><i
                                    class="bi bi-x-circle-fill"></i> Clear</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row d-flex justify-content-between mt-2">
            <div class="col-3">
                <h2>List User</h2>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <input type="text" id="searchInput" class="form-control" placeholder="Enter username">
                    <button class="btn btn-primary"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
        <div class="d-flex" style="overflow-y: scroll; max-height: 300px">
            <table id="userTable" class="table table-bordered table-hover table-md mt-3">
                <thead class="table-dark">
                <tr>
                    <th scope="col">UserId</th>
                    <th scope="col">Username</th>
                    <th scope="col">Fullname</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Avatar</th>
                    <th scope="col">Status</th>
                    <th scope="col">Address</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${accounts}">
                    <td th:text="${item?.id}">1</td>
                    <td th:text="${item?.username}">Marry</td>
                    <td th:text="${item?.fullname}">Joni Marry</td>
                    <td th:text="${item?.phone}">Joni Marry</td>
                    <td th:text="${item?.email}">marry@gmail.com</td>
                    <td th:text="${item?.role ? 'Admin' : 'User'}"></td>
                    <td>
                        <img th:src="'user/'+${item?.avatar}" class="card-img-top" alt="" style="width: 3rem;">
                    </td>
                    <td th:text="${item?.status ? 'Active' : 'Inactive'}">True</td>
                    <td th:text="${item?.address}">Can Tho</td>
                    <td>
                        <div class="row g-2">
                            <div class="col">
                                <form th:action="'/manage-edit-account'" method="post">
                                    <input type="hidden" name="id" th:value="${item?.id}">
                                    <button type="submit" role="button" th:if="${item?.id != null}"
                                            class="btn btn-outline-primary btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="col">
                                <form th:action="'/manage-delete-account'" method="post">
                                    <input type="hidden" name="id" th:value="${item?.id}">
                                    <button type="submit" class="btn btn-outline-danger btn-sm">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- Modal -->
        <script>
            document.getElementById('userModel-avatar').addEventListener('click', function (event) {
                event.preventDefault();
                var element = document.getElementById('input-file');

                // Tạo phần tử input nếu nó chưa tồn tại
                if (!element) {
                    element = document.createElement('input');
                    element.type = 'file';
                    element.name = 'file';
                    element.id = 'input-file';
                    element.style.display = 'none';
                    document.getElementById('form-my-info').appendChild(element);

                    // Thêm sự kiện change chỉ một lần khi phần tử được tạo
                    element.addEventListener('change', function (event) {
                        var file = event.target.files[0];
                        if (file) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var img = document.getElementById('userModel-avatar');
                                img.src = e.target.result;
                            }
                            reader.readAsDataURL(file);
                        }
                    });
                }

                // Kích hoạt sự kiện click của input file
                element.click();
            });

        </script>

        <script>
            // Lắng nghe sự kiện khi nhấn nút Search
            document.querySelector('.btn-primary').addEventListener('click', function () {
                filterTable();
            });

            // Lắng nghe sự kiện khi nhấn phím "Enter"
            document.getElementById('searchInput').addEventListener('keypress', function (e) {
                if (e.key === 'Enter') {
                    filterTable();
                }
            });

            function filterTable() {
                var searchText = document.getElementById('searchInput').value.toLowerCase();
                var rows = document.getElementById('userTable').getElementsByTagName('tbody')[0].getElementsByTagName('tr');

                // Lặp qua từng dòng trong bảng
                for (var i = 0; i < rows.length; i++) {
                    var username = rows[i].getElementsByTagName('td')[1].textContent.toLowerCase();
                    // Kiểm tra nếu username không chứa chuỗi tìm kiếm thì ẩn dòng đó, ngược lại hiển thị
                    if (username.indexOf(searchText) === -1) {
                        rows[i].style.display = 'none';
                    } else {
                        rows[i].style.display = '';
                    }
                }
            }
        </script>
    </div>
</div>
<h1>Hiiii</h1>